.hotel{
    background-color: blanchedalmond;
    padding: 10px;
}
.line{
    background-color: black;
    height: 1px;
  
}
.h4{
    text-align: center;
    
}
.card-title{
    text-align: center;
}
